<!-- trips/displayTrack.html -->

<h3>Track record</h3>

<table class='data'>

    <tr>

        <th>field</th>
        <th>value</th>

    </tr>
    <tr>
        <th>name</th>
        <td>{{ track.name }}</td>
    </tr>
    <tr>
        <th>comment</th>
        <td>{{ track.comment }}</td>
    </tr>
    <tr>
        <th>description</th>
        <td>{{ track.description }}</td>
    </tr>
    <tr>
        <th>extensions</th>
        <td>{{ trackextensions }}</td>
    </tr>
    <tr>
        <th>link</th>
        <td>{{ track.link }}</td>
    </tr>
    <tr>
        <th>link_text</th>
        <td>{{ track.link_text }}</td>
    </tr>
    <tr>
        <th>link_type</th>
        <td>{{ track.link_type }}</td>
    </tr>
    <tr>
        <th>number</th>
        <td>{{ track.number }}</td>
    </tr>
</table>

<h3>Segments and points</h2>

<table class='data'>

{% for segment in track.segments %}

    <tr>
        <th colspan='4'>{{ segment }}</th>
    </tr>

    <tr>
        <th>id</th>
        <th>ord</th>
        <th>time</th>
        <th>lat long</th>
        <th>ele</th>
    </tr>

{% for point in segment.points %}
    <tr>

        <td>{{ point.id }}</td>
        <td>{{ point.ordinal }}</td>
        <td>{{ point.time }}</td>
        <td>{{ point.latitude }} {{ point.longitude }}</td>
        <td>{{ point.elevation }}</td>

    </tr>
      
{% endfor %}
{% endfor %}

</table>  
<!-- end trips/displayTrack.html -->
