{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
<h1>{{ h1 }}</h1>


{% if trip %}

<div class='triprecord'>
<p>Trip identifier: {{ identifier }}</p>

<h2>{{ trip.name }}</h2>

<table>

    <tr>

        <th>subject</th>

        <td>{{ trip.subject }}</td>

    </tr>
    <tr>

        <th>description</th>

        <td>{{ trip.description }}</td>

    </tr>
    <tr>

        <th>location</th>

        <td>{{ trip.location }}</td>

    </tr>

    <p>Upload a gpx file</p>

    {{ uploadFile.as_p }}

    <input type='submit' name='upload' value='upload' />
      
</table>


<div class='attachments'>

  <h3>Files associated with this trip</h3>

<ol>
{% for item in directory.model.all %}<li>{{ item }} </li>{% endfor %}
</ol>
</div>

</div>
{% elif trips.count == 0 %}



<h3>We can't seem to find this trip record</h3>

{% else %}
<div class='triplist'>

    <h3>There are more than one trips with this identifier</h3>

</div>
{% endif %}




</table>
{% endblock %}
