{% extends 'framework.html' %}{% block main %}{% load staticfiles %}
<h1>{{ h1 }}</h1>


{% if trip %}

<div class='triprecord'>
<p>Trip identifier: {{ identifier }}</p>

<p>Waypoints: {{ trip.waypoints.count }}</p>

<table>

    <tr>

        <th>subject</th>

        <td>{{ trip.subject }}</td>

    </tr>
    <tr>

        <th>description</th>

        <td>{{ trip.description }}</td>

    </tr>
    <tr>

        <th>location</th>

        <td>{{ trip.location }}</td>

    </tr>

</table>

    <p>Upload a gpx file</p>

    {{ uploadFile.as_p }}

    <input type='submit' name='upload' value='upload' />

<div class='spatial'>

    <h3>Spatial data associated with this trip</h3>

    <table>

        <tr>
            <th colspan='4'>Tracks</th>
        </tr>

        <tr>
            <th colspan='2'>Name</th>
            <th>Segments</th>
            <th>Points</th>
        </tr>
{% for track in trip.track_set.all %}
        <tr>
            <td colspan='2'><a href='{{ track.url }}'>{{ track.name }}</a></td>
            <td>{{ track.segcount }}</td>
            <td>{{ track.pointcount }}</td>
        </tr>
{% endfor %}

        <tr>
            <th colspan='4'>Waypoints</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>lat/long</th>
            <th>ele</th>
            <th>time</th>
        </tr>
{% for waypoint in trip.waypoint_set.all %}
        <tr>
            <td><a href='{{ waypoint.url }}'>{{ waypoint.name }}<a/></td>
            <td>{{ waypoint.latitude }} {{ waypoint.longitude }}</td>
            <td>{{ waypoint.elevation }}</td>
            <td>{{ waypoint.time }}</td>
        </tr>
{% endfor %}


     </table>


        
</div>

<div id='gpxfiles'>

    <h3>GPX files</h3>

    <table>

        <tr>

            <th>name</th>
            <th>routes</th>
            <th>tracks</th>
            <th>waypoints</th>

        </tr>
{% for file in trip.gpxfiles %}
        <tr>

            <td><a href='{{ file.url }}'>{{ file.name }}</a></td>
            <td>{{ file.routes|length }}</td>
            <td>{{ file.tracks|length }}</td>
            <td>{{ file.waypoints|length }}</td>

        </tr>
{% endfor %}
        
          

    </table>

      

</div>

<div id='attachments'>

  <h3>Pictures</h3>

<ol>
  {% for item in trip.directory.model.figs %}
    <li>{{ item }} </li>{% endfor %}
</ol>
</div>

</div>


{% elif trips.count == 0 %}

<h3>We can't seem to find this trip record</h3>

{% else %}
<div class='triplist'>

    <h3>There are more than one trips with this identifier</h3>

</div>
{% endif %}




</table>
{% endblock %}
